<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>Obituary App</title>
 
 
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
 
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
 
 
</head>
 
<body>
    <form action = "http://localhost:5000/result" method = "POST">
        <p>Name <input type = "text" name = "name" /></p>
        <p>Place of death <input type = "text" name = "demise_place" /></p>
        <p>Date of death <input type = "date" name = "demise_date" /></p>
        <p>Age <input type ="number" name = "age" /></p>
        <p><input type = "submit" value = "submit" /></p>
     </form>
</body>
 
</html>