<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>Obituary App</title> 
</head>
 
<body>
    <form action = "http://localhost:5000/result" method = "POST">
        <p>Name <input type = "text" name = "name" /></p>
        <p>Place of death <input type = "text" name = "demise_place" /></p>
        <p>Date of death <input type = "date" name = "demise_date" /></p>
        <p>Age <input type ="number" name = "age" /></p>
        <label for="demise_how">Demise how</label>
        <select id="demise_how" name="demise_how">
          <option value="peacefully">Peacefully</option>
          <option value="suddenly">Suddenly</option>
          <option value="peacefully but suddenly">Peacefully but suddenly</option>
        </select>      
        <p>Demise Reason <input type ="text" name = "demise_reason" /></p>
        <p>Home town <input type ="text" name = "home_town" /></p>
        <p><input type = "submit" value = "submit" /></p>
     </form>
</body>
 
</html>